@mixin typos()
{
    h1,h2,h3,h4,h5,h6{
      font-size: 1.6em;
      color: black;
      font-weight: bold;
      font-family: "Times";
    }

    .small{
      font-size: 1.5em;
      color: gray;
    }

    body{
      font-family: "Times New Roman";
      font-size:1.2em;
    }

    p{
      margin-bottom: 4%;
    }

    mark,del,ins,u,strong,em,abbr{
        font-size: 1.2em;
    }

    ul,li{
        list-style-type:circle;
    }
}
    @mixin list(){
        list-style-type: square;
    }

    @mixin listnone(){
        li{
        list-style-type: none;
        }
    }

    @mixin leftalign{
        text-align: left;
    }

    @mixin rightalign{
        text-align: right;
    }

    @mixin centeralign{
        text-align: center;
    }

    @mixin justifiedalign{
        text-align: justify;
    }

    @mixin upper{
        text-transform: uppercase;
    }

    @mixin lower{
        text-transform: lowercase;
    }

    @mixin swapcolor {li:nth-child(2n+1){
        color : #364388;
    }
}

    @mixin completedborder{
        border: 1px solid black;
    }

    @mixin hover {
        hover:hover{
        font-size: 1.2em;
        }  
}