@import "library";

.btn{
    @include btn(25%,dodgerblue);
}

.btn-green-small{
    @include btn(15%, lime);
}

.btn-fancy{
    @include btn-fancy(25%,darkturquoise);
}

.btn-fat{
    @include btn-fat(15%);
}

.btn-extra-large{
    @include btn(100%,yellow);
}

.btn-jumbotron{
    @include btn(10%,#2dc62d);
}

body{@include typos();}

.alert-warning:before{
    @include alert(yellow,"warning");
}

.alert-error:before{
    @include alert(red,"error");
}

.header{
    @include header(2em,black);
}

.jumbotron{
    @include jumbotron(2em,black);
}

.navbar{
    @include navbar(1.2em,#666,#74baff);
}

.breadcrumb{
    @include breadcrumb(1.2em,#d5d5d8,#50ba50);
}

.pagination{
    @include pagination(1.2em, #e2e2e2);
}